// @tailwind base;
// // // @tailwind components;
// // // @tailwind utilities;

// // /* add following lines */
// @layer base {
//   img {
//     @apply inline-block;
//   }
// }

// div.report {
::ng-deep {
  div {
    line-height: normal !important;
  }

  img {
    display: inline-block !important;
  }
}

.page-break {
  break-after: always;
}

@media print {
  .page-break {
    // break-before: always;
    // page-break-before: always;
    // page-break-after: always;
    break-after: always;
  }
}
// }
